In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv('iris.dataset.csv')

In [40]:
df.head()

,Petal_length,Sepal_Length,Petal_Width,Sepal_Width,Iris_Type,type_representation
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1

In [41]:
df.describe()

,Petal_length,Sepal_Length,Petal_Width,Sepal_Width,type_representation
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,2.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,1.000000
25%,5.100000,2.800000,1.600000,0.300000,1.000000
50%,5.800000,3.000000,4.350000,1.300000,2.000000
75%,6.400000,3.300000,5.100000,1.800000,3.000000
max,7.900000,4.400000,6.900000,2.500000,3.000000

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Petal_length         150 non-null    float64
 1   Sepal_Length         150 non-null    float64
 2   Petal_Width          150 non-null    float64
 3   Sepal_Width          150 non-null    float64
 4   Iris_Type            150 non-null    object
 5   type_representation  150 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [43]:
df.isna().sum()

Petal_length           0
Sepal_Length           0
Petal_Width            0
Sepal_Width            0
Iris_Type              0
type_representation    0
dtype: int64

In [44]:
df.columns

Index(['Petal_length', 'Sepal_Length', 'Petal_Width', 'Sepal_Width',
       'Iris_Type', 'type_representation'],
      dtype='object')

In [45]:
y = df['type_representation']

In [46]:
X = df[['Petal_length', 'Sepal_Length', 'Petal_Width', 'Sepal_Width']]

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,random_state=0)
X_train

     Petal_length  Sepal_Length  Petal_Width  Sepal_Width
137           6.4           3.1          5.5          1.8
84            5.4           3.0          4.5          1.5
27            5.2           3.5          1.5          0.2
127           6.1           3.0          4.9          1.8
132           6.4           2.8          5.6          2.2
..            ...           ...          ...          ...
9             4.9           3.1          1.5          0.1
103           6.3           2.9          5.6          1.8
67            5.8           2.7          4.1          1.0
117           7.7           3.8          6.7          2.2
47            4.6           3.2          1.4          0.2

[120 rows x 4 columns]

In [48]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((120, 4), (30, 4), (120,), (30,))

In [55]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=500)

In [56]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=500)

In [57]:
y_predict = model.predict(X_test)

In [59]:
#1-Iris-setosa, 2-Iris-versicolor, 3-Iris-virginica
y_predict

array([3, 2, 1, 3, 1, 3, 1, 2, 2, 2, 3, 2, 2, 2, 2, 1, 2, 2, 1, 1, 3, 2,
       1, 1, 3, 1, 1, 2, 2, 1], dtype=int64)

In [64]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [65]:
accuracy_score(y_test,y_predict)

1.0